* {
    margin: 0;
    padding: 0;
    box-sizing: content-box;
    font-family: monospace;
}

body {
    background-color: var(--black);
    color: var(--white);
}
:root {
    --dark-blue:#0D1F3F;
    --black:#0A1730;
    --light-grey:#D6DEEB;
    --secondary-text:#9FB0C8;
    --white:#F8FAFF;
}
#content {
    width: 60%;
    margin: auto;
    background-color: var(--dark-blue);
    border-radius: 40px;
}
.elem {
    display: flex;
    padding: 20px;
    border-top: 1px solid var(--white);
    width: 90%;
    margin: auto;
}
button {
    width: 160px;
    height: 30px;
    border-radius: 10px;
    border: 3px solid var(--black);
    font-size: 15px;
}
.ar {
    text-align: right;
    padding: 10px;
    margin-left: auto;
}
#info p {
    margin-top: 20px;
    margin-bottom: 20px;
}
#info button {
    margin-bottom: 20px;
}
#info h1 {
    margin-top: 20px;
}
#info {
    padding: 20px;
    margin-left: 20px;
}
